#battleTable{

	font-family: "Times New Roman";
	border-style: solid;
	border-width:  5px;
	margin: auto;
	border-radius: 10px;
}
.charactersInfo {
	text-align: center;
}
.MovesTable {
	border-collapse: collapse;
}
#middleTH {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.ready {
	color: green;
}
.notready {
	color: red;
}
.readyMove {
	cursor: pointer;
}

.dragonMoveSelected {
	background: #adff2f;
}
#main {
	text-align:center;
}
#results {
	font-size: xx-large;
}
td {
	text-align: center;
}

button {
}
img {
	width: 150px;
	height: 150px;
	border-radius: 10px; 
}
